body, h1, h2, h3{
  font-family: 'Open Sans', "Helvetica", Arial, sans-serif!important;
}
h4, h5, h6{
  font-family: 'Open Sans'!important;
}
.centered{
  text-align:center!important;
}
.homeTitle{
  color:#fff!important;
  font-weight:300;

}
.navbar-nav > li >a{
  font-size: 1em!important;
}
.navbar-brand{
  font-size:1.8em!important;
}
.homeCard{
}
.icon-blue > i{
  color: #2196F3;
}
.phone-container{
  max-width:300px!important;
}
.homeIcon{
  transition: 0s;
}
.homeCard > .col-sm-4{
  padding: 0;

}
.homeCard > .col-sm-4:hover{
  background-color:white;

}
.homeCard > .col-sm-4:before{
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background: transparent;
  transition: width 1.5s ease;
}
.homeCard > .col-sm-4:hover:before{
  width: 100%;
  background: #2196F3;
  transition: width 1.5s ease;
}
.homeCard:hover .homeIcon{
  transition: 1.5s;
  transform: rotateY(360deg);
  color: #2196F3;
}
.homeIcon{
  display:inline-block;
}
.page-header{
  max-height:none;
  min-height: 550px;
}
.page-header > .container{
  padding-top:auto;
}
.navbar-default{
  font-family: 'Roboto'!important;
}
.white{
color:white!important;
}
.home-card > .col-sm-4 {
position:relative;
}
.home-card > .info:after{

}
.homeCard:hover > .info:after{
  width: 100%;
  background: #2196F3;
}
.features-5 .btn{
  border-bottom: 4px solid #1976D2;
  transition: .5s border ease;
}
.features-5 .btn:hover{
  border-bottom: 4px solid #1E88E5;
}
