.filter-question-container{
  transition: all .5s ease;
}
  #filterModal{
      text-align:center;
      .modal-lg{

      }
      .filter-modal{
          padding:0;

          .modal-header{
            background:#fff;
          }
          .modal-body{
               padding:0 0 100px 0;
               height:100%!important;
               min-width:100%!important;
               overflow-y: scroll;
               background: #e9e9e9;
           }
      }
      .modal-dialog{

      }
      .filter-question-container{
        min-height:200px;
        background:#fff;
        padding: 30px 30px 0 30px;
        h2{
            font-weight:300;
            position:relative;
        }
        margin-bottom:10px;
      }
  }
  .filter-option{
    display:block!important;
    background:#fff!important;
    width:calc(100%-6px)!important;
    position:relative!important;
    text-align: left;
    padding: 15px 40px;
    margin: 3px;
    font-size: 17px;
    color:#444;
    font-weight:bold;
    border:2px solid rgba(0,0,0,0);
  }
  .filter-option:hover, .filter-option:focus{
    color:#444;
  }
@media (min-width: 768px) {
  .filter-option:hover, .filter-option:focus{
    color:#fff;
    background: $blue-new!important;
  }
}
@media (max-width: 767px) {
  #filterModal{
    h2{
      font-size:26px;
    }
  }
}
body.modal-open {
    overflow: hidden!important;
}
.filterPersonal{
  margin-top: 5px;

  input{
    border-radius: 0;
    margin: 5px 0!important;
    border:none;
  }
}









.result{
  background:#fff;
  padding: 15px;
  border-radius:0;
  margin: 10px 0;
  text-align: left;
  color:#444;
  position:relative;
  .result-rating{
    margin: 0 ;
  }
  .results-place{
    padding-top:25%;
  }
  h5{
    margin: 3px 0;
  }

  .result-name{
    margin-top:5px;
  }
  .result-highlights{
    height:100%;

    div:last-child{
      border-right:none;
    }
    .result-highlights-figure{
      padding-top:30px;
      font-size:1.5em;
      font-weight:bold;
    }
  }
  img{
    max-height:120px;
    margin: 0 auto;
  }

}
.result:hover{
  cursor: pointer;
}
.result-margin{
  margin:0;
}
@media (max-width: 767px) {
  .modal-lg{
    margin-left:0;
  }
  .result{
    text-align:center;
    .results-place{
      padding-top:0;

    }
  }
  .results-inner{
    padding: 15px;
    margin: 10px 0;
    .result-image{
      padding:0;
    }
    .result-name{
      margin-top:5px;
      margin-bottom:5px;
    }
    .result-rating{
      text-align:center!important;
      div{
text-align:center!important;
      }

      i{
        font-size: 1.4em;
        max-width:50px;
      }
    }

  }
  .result-highlights{
    padding-left:0;
    padding-right:0;
    margin-left:-15px;
    margin-right:-15px;
  }
  .result-margin{
    margin: 0 -15px;
  }
}
