.find-pros{
  background-color: #e3e3e3;
  .find-pros-main{
    padding-top:50px;
  }
  .specialty{
    background-color:#fff;
    height:280px;
    padding: 15px;
    margin-bottom:30px;
    text-align:center;
    overflow:hidden;
    position:relative;
    h4{
      position:absolute;
      top:30px;
      left:50%;
      transform:translateX(-50%);
      width:100%;
    }
    img{
      width: 80%;
      height: auto;
      position:absolute;
      bottom: -80px;
      left: 50%;
      transform:translateX(-50%);
      transition: all .5s ease;
    }
    a{
      position:absolute;
      z-index:10;
      width:100%;
      height:100%;
      display:block;
    }
  }
  .specialty:hover img{
      bottom: -50px;
  }

  
}
