@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v13/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;
-webkit-font-feature-settings: 'liga';
-webkit-font-smoothing: antialiased;
}






p{
  font-size: 15px;
  font-family: 'Open Sans';
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
::-moz-selection { /* Code for Firefox */
    background: $red-new;
}
.logo{
  font-family: 'Montserrat', sans-serif!important;
}
::selection {
    background: $red-new;
}
body{
  }
.navbar{
    margin-bottom:0;
    border-radius:0;
    padding-top: 5px!important;
    box-shadow:0px 0px 0px!important;
}
.navbar-brand{
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 700!important;
}
.navbar-nav{
    margin:0 -15px 0 0;
    padding: 10px;
}
.navbar-transparent{
  padding-top:0;
}
.navbar-brand{
    font-size:24px;
    font-weight:400;
    height:70px!important;
    line-height:70px!important;
    padding: 0 15px!important;
    vertical-align:middle;
}
.navbar-nav > li > a {
    text-transform:none!important;
    margin:0;
    font-size: 1em!important;
    font-weight:600!important;
    font-family: 'Open Sans', sans-serif;
}

.centered{
    text-align:center!important;
}

.homeIcon{
    display:inline-block;
}
.page-header{
 height:630px;
 color:#ffffff;
 .page-center{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   z-index:1000;
   width:100%;
   .input-group-addon{
     padding-bottom: 10px;
   }
   .form-group-lg{
     margin-top:20px;
   }
 }
}
.landing-page{
  .main-icons{
    .col-md-3{
      padding: 0 5px;
      i{
        color:$blue-new;
      }
    }
  }
  .grid .landing-card{
    height:270px;
    overflow:hidden;
    border-radius:0!important;
    border:1px solid #ddd;
    background:#fff;
    text-align:center;
    margin-bottom:30px;
    .landing-card-title{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      z-index:50;
      color:#fff;
      font-weight:600;
      font-size:1.8em;
      width:100%;
      padding: 0 15px;
    }
    .content{
      height:120px;
    }
    .landing-card-description{
      padding: 15px;
      height:100%;
    }
    .btn{
      width:80%;
      position:absolute;
      bottom: 32px;
      border: 1px solid $blue-new;
      left:10%;
    }

    .card-image{
      height:150px;
      overflow:hidden!important;
      img{
        height:auto;
        width:100%;
      }
      margin:0;
      box-shadow:none;
      border-radius:0!important;
    }
    .ripple-container{
      border-radius:0!important;
    }
  }
}
.info-horizontal{
  padding-top: 15px!important;
}
.white{
    color:white!important;
}
.home-card > .col-sm-4 {
    position:relative;
}
.home-card > .info:after{
    width:0;
}
.main-icons{
  .col-md-4{
    padding: 0 30px;
  }
}
.searchBar{
    position:absolute;
    top:75%;
    width:100%;
    border-radius:0;
    font-size: 20px;
    font-weight:400;
    transform: translateY(-50%);

}
.mainSearch{
    padding: 30px 0!important;
    .container{
      padding-top:0!important;
    }
}


.home-input{
    background-color:#fff!important;
    height:57px!important;
}
.home-input:focus{
    border-bottom:0 solid $red-new;
    box-shadow:none;
}
.subTitle{
  color:#fff!important;
    text-transform: none;
    font-weight:400;
}
.info{
    padding-top:30px;
}

.home-card > .col-sm-4 {
    position:relative;
}
.home-card > .info:after{
    width:0;
}
.homeCard{
    height:300px!important;
    overflow:hidden!important;
    margin:15px 0;
}
@media (max-width: 991px) {
  .grid{
    a{
      text-align:center!important;
    }
  }
}

@media (max-width: 767px) {
  .container{
    padding:0;
  }
  .page-header{
    .page-center{
      width:100%;
    }
  }

    .navbar{
      padding:0;
      background-color:#fff!important;
      color:#222!important;
      z-index:10900;
      min-height:75px;

        .navbar-collapse{

        }

        .navbar-brand{
          border-right:none;
          float:none;
        }
        .navbar-header{
          text-align:center;
        }
    }
    .searchBar{

        top:75%;

    }
    .navbar-toggle{
      left: 0!important;
      position:absolute;
      margin:10px 0;
    }
    // Change to watch in slow motion
  $duration: .5s;

  $size : 100%;
  $toggled-size : .75;

  $bg : #274380;
  $nav-bg  : #000;
  $content-bg : #333;

  .navicon-button {
    display: block;
    position: absolute;
    padding: 2.0625rem 1.5rem;
    transition: $duration/2;
    cursor: pointer;
    user-select: none;
    opacity: .8;
    min-width:60px;

    .navicon:before, .navicon:after {
      transition: $duration/2;
    }

  }

  .navicon {
    position: absolute;
    width: 2.2em;
    height: 2px;
    background: $content-bg;
    transition: $duration;
    border-radius: 2.5rem;
    top: 50%;
    transform:translateY(50%);

    &:before, &:after {
      display: block;
      content: "";
      height: 2px;
      width: 2.2em;
      background: $content-bg;
      position: absolute;
      z-index: -1;
      transition: $duration $duration/2;
      border-radius: 1rem;
    }

    &:before { top: 8px; }
    &:after { top: -8px; }
  }

  .open:not(.steps) .navicon:before,
  .open:not(.steps) .navicon:after {
    top: 0 !important;
  }

  .open .navicon:before,
  .open .navicon:after {
    transition: $duration;
  }

  /* Minus */
  .open { transform: scale($toggled-size); }

  /* Arrows */
  .open.larr .navicon,
  .open.rarr .navicon,
  .open.uarr .navicon {
      &:before, &:after {
        width: 1.5rem;
      }

      &:before { transform: rotate(35deg); transform-origin: left top; }
      &:after { transform: rotate(-35deg); transform-origin: left bottom; }
  }
  .open.uarr { transform: scale($toggled-size) rotate(90deg); }

  /* Arrows */
  .open.rarr .navicon {
      &:before { transform: translate3d(1em,0,0) rotate(-35deg); transform-origin: right top; }
      &:after { transform: translate3d(1em,0,0) rotate(35deg); transform-origin: right bottom; }
  }

  /* × and + */
  .open.plus,
  .open.x {
    .navicon {
      background: transparent;

      &:before { transform: rotate(-45deg); }
      &:after { transform: rotate(45deg); }
    }
  }
  .open.plus {
    transform: scale($toggled-size) rotate(45deg)
  }

.hometyped{
  font-size:24px!important;
}

h2{
  font-size: 28px;
  line-height:1.8em!important;

}

  .grid .landing-card{
    .btn{
      bottom:2px!important;
    }}
    .grid{
      .col-md-4{
        padding:0;
      }
    }
    .modal-open{
      padding-right:0!important;
    }
    .modal{
      padding-right:0!important;
    }

}
h2{
  font-weight:300;
}
@media (max-width: 767px) and (min-width: 550px) {


}
