p{
  font-size: 15px;
  font-family: 'Open Sans';
}

::-moz-selection { /* Code for Firefox */
    background: $red-new;
}

::selection {
    background: $red-new;
}
body{
  }
.navbar{
    margin-bottom:0;
    border-radius:0;
    padding-top: 5px!important;
    box-shadow:0px 0px 0px!important;
}
.navbar-nav{
    margin:0 -15px 0 0;
    padding: 10px;
}
.logo{
    font-family: 'Lalezar', cursive!important;
}
.navbar-transparent{
  padding-top:0;
}
.navbar-brand{
    font-size:24px;
    font-weight:400;
    height:70px!important;
    line-height:70px!important;
    padding: 0 15px!important;
    vertical-align:middle;
}
.navbar-nav > li > a {
    text-transform:none!important;
    margin:0;
    font-size: 1em!important;
    font-weight:600!important;
    font-family: 'Open Sans', sans-serif;
}

.centered{
    text-align:center!important;
}

.homeIcon{
    display:inline-block;
}
.landing-page{
  .page-header{
      height:100vh!important;
      min-height:400px!important;
  }
  .grid .card{
    height:300px;
    overflow:hidden;
  }
}
.white{
    color:white!important;
}
.home-card > .col-sm-4 {
    position:relative;
}
.home-card > .info:after{
    width:0;
}
.main-icons{
  .col-md-4{
    padding: 0 30px;
  }
}
.searchBar{
    position:absolute;
    top:55%;
    width:100%;
    border-radius:0;
    font-size: 20px;
    font-weight:400;
    transform: translateY(-50%);
}
.mainSearch{
    padding: 30px 0!important;
    .container{
      padding-top:0!important;
    }
}


.home-input{
    background-color:#fff!important;
    height:57px!important;
}
.home-input:focus{
    border-bottom:0 solid $red-new;
    box-shadow:none;
}
.subTitle{
  color:#fff!important;
    text-transform: none;
    font-weight:400;
}
.info{
    padding-top:30px;
}

.home-card > .col-sm-4 {
    position:relative;
}
.home-card > .info:after{
    width:0;
}
.homeCard{
    height:300px!important;
    overflow:hidden!important;
    margin:15px 0;
}

@media (max-width: 767px) {
    .navbar{
      padding:0;
      background-color:#fff!important;
      color:#222!important;

        .navbar-collapse{
            border-top:1px solid #ddd;
        }

        .navbar-brand{
          border-right:none;
          float:none;
        }
        .navbar-header{
          text-align:center;
        }
    }
    .searchBar{

        top:75%;

    }
    .navbar-toggle{
      left: 15px!important;
      position:absolute;
      margin:19px 0;
    }


}
@media (max-width: 767px) and (min-width: 550px) {


}
