

    .cb-slideshow,
    .cb-slideshow:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 0;
        list-style-type: none;
    }
    .cb-slideshow:after {
        content: '';

    }
    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -webkit-animation: imageAnimation 24s linear infinite 0s;
        -moz-animation: imageAnimation 24s linear infinite 0s;
        -o-animation: imageAnimation 24s linear infinite 0s;
        -ms-animation: imageAnimation 24s linear infinite 0s;
        animation: imageAnimation 24s linear infinite 0s;
    }
    .cb-slideshow li div {
        z-index: 1000;
        position: absolute;
        left: 10%;
        top: 40%;
        transform:translateY(-50%);
        width: 80%;
        text-align: center;
        opacity: 0;
        color: #fff;
        -webkit-animation: titleAnimation 24s linear infinite 0s;
        -moz-animation: titleAnimation 24s linear infinite 0s;
        -o-animation: titleAnimation 24s linear infinite 0s;
        -ms-animation: titleAnimation 24s linear infinite 0s;
        animation: titleAnimation 24s linear infinite 0s;
    }
    .cb-slideshow li div h3 {
        font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
        font-size: 60px!important;
        font-weight: 900;
        padding: 0;

    }
    .cb-slideshow li:nth-child(1) span {
        background-image: url(../img/slideshow1.jpg)

    }
    .cb-slideshow li:nth-child(2) span {
        background-image: url(../img/slideshow2.jpg);
        -webkit-animation-delay: 6s;
        -moz-animation-delay: 6s;
        -o-animation-delay: 6s;
        -ms-animation-delay: 6s;
        animation-delay: 6s;
    }
    .cb-slideshow li:nth-child(3) span {
        background-image: url(../img/specialties/2.jpg);
        -webkit-animation-delay: 12s;
        -moz-animation-delay: 12s;
        -o-animation-delay: 12s;
        -ms-animation-delay: 12s;
        animation-delay: 12s;

    }
    .cb-slideshow li:nth-child(4) span {
        background-image: url(../img/specialties/6.jpeg);
        -webkit-animation-delay: 18s;
        -moz-animation-delay: 18s;
        -o-animation-delay: 18s;
        -ms-animation-delay: 18s;
        animation-delay: 18s;
    }


    .cb-slideshow li:nth-child(2) div {
        -webkit-animation-delay: 6s;
        -moz-animation-delay: 6s;
        -o-animation-delay: 6s;
        -ms-animation-delay: 6s;
        animation-delay: 6s;
    }
    .cb-slideshow li:nth-child(3) div {
        -webkit-animation-delay: 12s;
        -moz-animation-delay: 12s;
        -o-animation-delay: 12s;
        -ms-animation-delay: 12s;
        animation-delay: 12s;
    }
    .cb-slideshow li:nth-child(4) div {
        -webkit-animation-delay: 18s;
        -moz-animation-delay: 18s;
        -o-animation-delay: 18s;
        -ms-animation-delay: 18s;
        animation-delay: 18s;
    }
    .cb-slideshow li:nth-child(5) div {
        -webkit-animation-delay: 24s;
        -moz-animation-delay: 24s;
        -o-animation-delay: 24s;
        -ms-animation-delay: 24s;
        animation-delay: 24s;
    }

    /* Animation for the slideshow images */
    @-webkit-keyframes imageAnimation {
        0% {
            opacity: 0;
            -webkit-animation-timing-function: ease-in;
        }
        2% {
            opacity: 1;
            -webkit-animation-timing-function: ease-out;
        }
        24% {
            opacity: 1
        }
        26% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-moz-keyframes imageAnimation {
        0% {
            opacity: 0;
            -moz-animation-timing-function: ease-in;
        }
        2% {
            opacity: 1;
            -moz-animation-timing-function: ease-out;
        }
        24% {
            opacity: 1
        }
        36% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-o-keyframes imageAnimation {
        0% {
            opacity: 0;
            -o-animation-timing-function: ease-in;
        }
        2% {
            opacity: 1;
            -o-animation-timing-function: ease-out;
        }
        24% {
            opacity: 1
        }
        26% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-ms-keyframes imageAnimation {
        0% {
            opacity: 0;
            -ms-animation-timing-function: ease-in;
        }
        2% {
            opacity: 1;
            -ms-animation-timing-function: ease-out;
        }
        24% {
            opacity: 1
        }
        26% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @keyframes imageAnimation {
        0% {
            opacity: 0;
            animation-timing-function: ease-in;
        }
        2% {
            opacity: 1;
            animation-timing-function: ease-out;
        }
        24% {
            opacity: 1
        }
        26% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    /* Animation for the title */
    @-webkit-keyframes titleAnimation {
        0% {
            opacity: 0
        }
        4% {
            opacity: 1
        }
        22% {
            opacity: 1
        }
        25% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-moz-keyframes titleAnimation {
        0% {
            opacity: 0
        }
        4% {
            opacity: 1
        }
        22% {
            opacity: 1
        }
        25% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-o-keyframes titleAnimation {
        0% {
            opacity: 0
        }
        4% {
            opacity: 1
        }
        22% {
            opacity: 1
        }
        25% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-ms-keyframes titleAnimation {
        0% {
            opacity: 0
        }
        4% {
            opacity: 1
        }
        22% {
            opacity: 1
        }
        25% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @keyframes titleAnimation {
        0% {
            opacity: 0
        }
        4% {
            opacity: 1
        }
        22% {
            opacity: 1
        }
        25% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    /* Show at least something when animations not supported */
    .no-cssanimations .cb-slideshow li span {
        opacity: 1;
    }

    @media screen and (max-width: 1140px) {
        .cb-slideshow li div h3 {
            font-size: 60px
        }
    }
    @media screen and (max-width: 600px) {
        .cb-slideshow li div h3 {
            font-size: 80px
        }
    }

    @media (max-width: 767px) {
      .cb-slideshow li div h3 {
          font-size: 26px!important;
      }
      .subTitle{
        font-size:15px;
        padding-bottom:15px;
      }
      .searchBar{

top:70%!important;
          #start{
            margin-top:10px!important;
          }
      }

    }
    @media (min-width:768px) and (max-width: 991px) {
      .cb-slideshow li div h3 {
          font-size: 40px!important;
      }
      .searchBar{

          top:63%!important;

      }
    }
@media (min-width: 992px) and (max-width: 1449px) {
  .searchBar{

      top:65%!important;

  }
  .cb-slideshow li div h3 {
      font-size: 50px!important;
  }
}

@media (min-width: 1450px) {
.cb-slideshow li div h3 {
    font-size: 80px;
}
    .cb-slideshow li div {



    }
}
