*:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: white; }

a {
  color: black; }
  a:hover {
    text-decoration: none;
    color: inherit; }

thead {
  background: rgba(95, 98, 121, 0.19);
  border: 1px solid #E4E4E4;
  border-left: none;
  border-right: none; }

table {
  background: rgba(30, 28, 61, 0.03);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #E4E4E4;
  border-top: none; }

th, td {
  padding: 10px; }

tr {
  vertical-align: top; }

tbody tr:nth-child(odd) {
  background: white; }

legend {
  display: block;
  padding: 5px 10px;
  font-weight: bolder;
  text-align: center; }

fieldset {
  border: none;
  margin: 20px 0;
  padding: 0; }

textarea {
  box-sizing: border-box;
  display: block;
  min-height: 150px;
  width: 100%;
  max-width: 100%;
  border: none;
  background: #312B56;
  border: none;
  border-radius: 2px;
  padding: 12px;
  font-family: monospace;
  font-size: 15px;
  color: #48DAE6; }

input[value="Build"] {
  appearance: none;
  border: none;
  display: block;
  margin: 20px auto;
  padding: 1em;
  width: 100%;
  font-size: medium;
  background: Red;
  color: white; }
  input[value="Build"]:hover {
    cursor: pointer; }
  input[value="Build"]:active {
    transform: translateY(2px); }

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 487px;
  padding: 10px 0;
  width: 100%;
  background: #1E1C3D; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  nav a {
    border: 2px solid #FFFEFE;
    border-radius: 2px;
    transition: .2s border ease-in-out, .2s background ease-in-out, .2s color ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin: auto 10px;
    padding: 20px;
    background: transparent;
    color: #FFFEFE; }
    nav a.active, nav a:hover {
      border: 2px solid #FFFEFE;
      background: #FFFEFE;
      color: black; }
    nav a:active {
      transform: translateY(2px); }

main {
  display: block;
  max-width: 786px;
  margin: 0 auto;
  padding: 40px 0;
  width: 100%; }

footer {
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
  background: #AD0A00; }

footer a {
  color: white; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff"); }
body {
  font-family: "Source Sans pro", sans-serif; }

h1 {
  font-size: 5em;
  font-weight: normal;
  font-weight: 300; }

h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 300; }

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 28px 90px;
  position: relative;
  width: 100%;
  outline: none;
  transition: all 0.4s;
  transform: rotateX(35deg);
  font-size: 0.9em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  color: white; }
  .btn:after {
    content: "";
    position: absolute;
    transition: all 0.4s;
    z-index: -1; }

.btn_perspective {
  display: inline-block;
  perspective: 800px;
  width: 100%; }

.btn-3d {
  display: block;
  outline: 1px solid transparent;
  transform-style: preserve-3d;
  background: #E90000; }

.btn-3db:after {
  height: 40%;
  left: 0;
  top: 100%;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  width: 100%;
  background: #C01818; }

.btn-3db:hover {
  transform: rotateX(20deg); }

.tcon-title {
  margin: 0;
  text-align: center;
  color: #FFFEFE; }

.tcon-tagline {
  margin-top: 0;
  margin-bottom: 24px;
  color: #FFFEFE; }

.tcon-builder__title {
  color: #C0A8A8;
  font-weight: 300; }

.tcon-row {
  box-shadow: 0 1px 0 #dbdbdb;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
  text-align: center; }
  .tcon-row:last-child {
    box-shadow: none; }
  .tcon-row h3 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    color: #A8A8A8; }

.tcon-row__items {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  width: 260px; }
  .tcon-row__items .tcon {
    margin: 0 6px; }

.tcons-items {
  box-shadow: inset 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  padding: 10px 0 0 !important; }

.tcons-items li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 6px;
  padding: 10px;
  position: relative; }

#tcon-src--html {
  color: #CF6949; }

#tcon-src--js {
  color: #EFEFEF; }

.tcon-checkbox {
  height: 1rem;
  margin: 8px 0;
  position: relative;
  width: 4rem; }
  .tcon-checkbox input[type=checkbox] {
    opacity: 0; }
  .tcon-checkbox input[type=checkbox]:focus ~ label {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.6);
    background: #d3c1d1; }
  .tcon-checkbox input[type=checkbox]:checked ~ label {
    background: #4fbe79; }
    .tcon-checkbox input[type=checkbox]:checked ~ label:after {
      left: 3rem; }
  .tcon-checkbox label {
    border-radius: 3rem;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.27), 1px 1px 1px rgba(255, 255, 255, 0.71);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background 150ms ease-in-out;
    text-indent: -9999em;
    background: #E8DFE7; }
    .tcon-checkbox label:hover {
      cursor: pointer; }
    .tcon-checkbox label:after {
      border-radius: 3rem;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42);
      content: "";
      cursor: pointer;
      display: block;
      height: 0.75rem;
      position: absolute;
      top: 0.125rem;
      left: 0.25rem;
      width: 0.75rem;
      transition: left 150ms ease-in-out;
      z-index: 1;
      background: #FFFFFD;
      background-image: radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, transparent 100%), radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, transparent 100%), radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, transparent 100%), radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, transparent 100%); }

@keyframes avatar-fadein {
  to {
    opacity: 1; } }
#tcons-contributors {
  animation: avatar-fadein 400ms 1 forwards cubic-bezier(0.4, 0, 0.2, 1);
  animation-delay: 1000ms;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.24), 0 1px 1px rgba(255, 255, 255, 0.24), inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 40px 140px; }
  #tcons-contributors li {
    flex: 0 0 10%;
    padding: 3px 5px;
    position: relative; }

.contributor-avatar {
  height: auto;
  width: 100%;
  background: white; }

@keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: black;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: black;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .tcon-transform .tcon-menu__lines {
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--arrow, .tcon-menu--arrowleft {
  width: auto; }
  .tcon-menu--arrow.tcon-transform .tcon-menu__lines::before, .tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::before, .tcon-menu--arrow.tcon-transform .tcon-menu__lines::after, .tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::after {
    top: 0;
    width: 22.22222px; }
  .tcon-menu--arrow.tcon-transform .tcon-menu__lines::before, .tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::before {
    transform: rotate3d(0, 0, 1, 45deg); }
  .tcon-menu--arrow.tcon-transform .tcon-menu__lines::after, .tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::after {
    transform: rotate3d(0, 0, 1, -45deg); }

.tcon-grid {
  padding: 1rem; }
  .tcon-grid .tcon-grid__item {
    width: 0.5rem;
    height: 0.5rem;
    background: black;
    color: black;
    transition: 0.3s; }

.tcon-grid.tcon-transform .tcon-grid__item {
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8); }

.tcon-plus {
  height: 40px;
  position: relative;
  transform: scale(0.75);
  width: 40px; }
  .tcon-plus::before, .tcon-plus::after {
    content: "";
    border-radius: 2px;
    display: block;
    width: 85%;
    height: 25%;
    position: absolute;
    top: 37%;
    left: 8%;
    transition: 0.3s;
    background: black; }
  .tcon-plus:after {
    transform: rotate(90deg); }

.tcon-remove {
  height: 40px;
  position: relative;
  transform: scale(0.75);
  width: 40px; }
  .tcon-remove::before, .tcon-remove::after {
    content: "";
    display: block;
    height: 25%;
    width: 85%;
    position: absolute;
    top: 37%;
    left: 8%;
    transition: 0.3s;
    background: black; }
  .tcon-remove::before {
    transform: rotate(45deg); }
  .tcon-remove::after {
    transform: rotate(-45deg); }

.tcon-search__item {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 0;
  transition: 0.3s;
  background: transparent;
  position: relative;
  transform: rotate(-45deg); }
  .tcon-search__item::before, .tcon-search__item::after {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 0;
    transition: 0.3s;
    background: transparent;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto; }
  .tcon-search__item::before {
    height: 4px;
    left: 0;
    background: black;
    border-radius: 2.85714px; }
  .tcon-search__item::after {
    right: 0;
    background: white;
    border-radius: 50%;
    width: 12.00012px;
    height: 12.00012px;
    border: 2px solid black;
    transform-origin: 50% 50%; }

.tcon-svgchevron {
  height: 40px;
  width: 40px; }

.tcon-svgchevron path {
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: black;
  stroke-width: 1px; }

.tcon-svgchevron path.a1 {
  animation-delay: 0s; }

.tcon-svgchevron path.a2 {
  animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
  animation-delay: -1s; }

.tcon-menu--xbutterfly {
  width: auto; }
  .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, transform .3s ease; }
  .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      top: 0;
      transition: top .3s ease, transform .3s .5s ease;
      width: 40px; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform-origin: 50% 50%;
      top: 0;
      width: 40px; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-menu--minus {
  width: auto; }
  .tcon-menu--minus.tcon-transform .tcon-menu__lines::before, .tcon-menu--minus.tcon-transform .tcon-menu__lines::after {
    transform: none;
    top: 0;
    width: 40px; }

.tcon-menu--arrow360left.tcon-transform {
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 360deg); }

.tcon-menu--arrowup {
  width: auto; }
  .tcon-menu--arrowup.tcon-transform {
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg); }

.tcon-grid--collapse .tcon-grid__item {
  box-shadow: -0.625rem 0, -0.625rem 0.625rem, 0.625rem 0, 0.625rem -0.625rem, 0 -0.625rem, -0.625rem -0.625rem, 0 0.625rem, 0.625rem 0.625rem; }
.tcon-grid--collapse.tcon-transform .tcon-grid__item {
  box-shadow: -0.5rem 0, 0 0 transparent, 0.5rem 0, 0 0 transparent, 0 -0.5rem, 0 0 transparent, 0 0.5rem, 0 0 transparent; }

.tcon-grid--rearrange .tcon-grid__item {
  box-shadow: -0.625rem -0.625rem, 0 -0.625rem, 0.625rem -0.625rem, -0.625rem 0, 0.625rem 0, -0.625rem 0.625rem, 0 0.625rem, 0.625rem 0.625rem; }

.tcon-grid--rearrange.tcon-transform .tcon-grid__item {
  box-shadow: 0 -0.5rem, 0 -1rem, 0.5rem 0, -1rem 0, 1rem 0, -0.5rem 0, 0 1rem, 0 0.5rem; }

.tcon-remove--check.tcon-transform::before {
  transform: rotate(-135deg) translate(5%, -10%);
  top: 50%;
  width: 55%; }
.tcon-remove--check.tcon-transform::after {
  transform: rotate(-45deg) translate(20%, 10%);
  top: 50%;
  width: 85%; }

.tcon-remove--chevron-left.tcon-transform::before {
  left: 20%;
  transform: translate(0, -55%) rotate(-45deg);
  width: 62%; }
.tcon-remove--chevron-left.tcon-transform::after {
  left: 20%;
  transform: translate(0, 55%) rotate(45deg);
  width: 62%; }

.tcon-remove--chevron-right.tcon-transform::before {
  left: 20%;
  transform: translate(0, 55%) rotate(-45deg);
  width: 62%; }
.tcon-remove--chevron-right.tcon-transform::after {
  left: 20%;
  transform: translate(0, -55%) rotate(45deg);
  width: 62%; }

.tcon-remove--chevron-down.tcon-transform::before {
  left: 5%;
  transform: rotate(-135deg);
  width: 59%; }
.tcon-remove--chevron-down.tcon-transform::after {
  left: auto;
  right: 10%;
  transform: rotate(135deg);
  width: 60%; }

.tcon-remove--chevron-up.tcon-transform::before {
  left: 5%;
  transform: rotate(-45deg);
  width: 59%; }
.tcon-remove--chevron-up.tcon-transform::after {
  left: auto;
  right: 10%;
  transform: rotate(45deg);
  width: 60%; }

.tcon-plus--check.tcon-transform::before {
  transform: rotate(-135deg) translate(5%, -10%);
  top: 50%;
  width: 55%; }
.tcon-plus--check.tcon-transform::after {
  transform: rotate(-45deg) translate(20%, 10%);
  top: 50%;
  width: 85%; }

.tcon-plus--minus.tcon-transform::before {
  transform: rotate(180deg) translate(0, 0);
  width: 62%; }
.tcon-plus--minus.tcon-transform::after {
  transform: rotate(-180deg) translate(-37.5%, 0);
  width: 62%; }

.tcon-plus--minusfold {
  height: 40px;
  position: relative;
  transform: scale(1);
  width: 40px; }
  .tcon-plus--minusfold::before, .tcon-plus--minusfold::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: .3s all ease-in-out;
    border-radius: 5px;
    top: 50%;
    transform: translate(50%, -50%) rotate(0);
    width: 50%;
    height: 3.33333px;
    background: black; }
  .tcon-plus--minusfold::after {
    top: 50%;
    width: 50%;
    height: 3.33333px;
    transform: translate(50%, -50%) rotate(90deg); }
  .tcon-plus--minusfold.tcon-transform::after {
    transform: translate(50%, -50%) rotate(0); }

.tcon-plus--circle {
  border: 3.33333px solid black;
  border-radius: 80%;
  position: relative;
  background: transparent; }
  .tcon-plus--circle::before, .tcon-plus--circle::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: .3s all ease-in-out;
    border-radius: 5px;
    top: 50%;
    transform: translate(50%, -50%) rotate(0);
    width: 50%;
    height: 3.33333px;
    background: black; }
  .tcon-plus--circle::after {
    top: 50%;
    width: 50%;
    height: 3.33333px;
    transform: translate(50%, -50%) rotate(90deg); }
  .tcon-plus--circle.tcon-transform::before {
    transform: translate(50%, -50%) rotate(45deg); }
  .tcon-plus--circle.tcon-transform::after {
    transform: translate(50%, -50%) rotate(-45deg); }

.tcon-mail--envelope {
  width: 40px;
  height: 20px;
  background: #3D3F41;
  position: relative; }
  .tcon-mail--envelope:before, .tcon-mail--envelope:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 40px; }
  .tcon-mail--envelope:before {
    left: 0;
    border-left: 40px solid #BCBCBD;
    border-top: 20px solid transparent; }
  .tcon-mail--envelope:after {
    right: 0;
    border-right: 40px solid #A5ACAE;
    border-top: 20px solid transparent; }
  .tcon-mail--envelope.tcon-transform .tcon-mail--envelope__flap {
    transform: rotate3d(360, 0, 0, 180deg);
    transform-origin: 0 100%; }

.tcon-mail--envelope__flap {
  border-bottom: 10px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-color: transparent;
  border-bottom-color: #AEB3B5;
  position: absolute;
  transform: rotate3d(0, 0, 0, 0deg);
  transform-origin: 0 100%;
  transition: 0.2s transform ease-in-out;
  top: -10px;
  left: 0; }

.tcon-search--xcross.tcon-transform {
  transform: scale3d(0.8, 0.8, 0.8); }
  .tcon-search--xcross.tcon-transform .tcon-search__item::before, .tcon-search--xcross.tcon-transform .tcon-search__item::after {
    border-radius: 2.85714px;
    background: black; }
  .tcon-search--xcross.tcon-transform .tcon-search__item::after {
    height: 4px;
    width: 100%;
    top: 0;
    right: 0;
    border: 0;
    transform: rotate3d(0, 0, 1, 90deg); }

.tcon-vid--play {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  width: 40px;
  transition: 0.375s all ease-in-out;
  transform-origin: center center; }
  .tcon-vid--play:after {
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent black;
    content: "";
    display: block;
    height: 0;
    transform: translateX(25%);
    width: 40px; }
  .tcon-vid--play.tcon-transform {
    background: black;
    transform: rotate(-360deg); }

.tcon-loader--spinner360 {
  border-radius: 80%;
  display: block;
  height: 40px;
  width: 40px;
  position: relative;
  animation: tcon-spin360 0.675s linear infinite forwards;
  background: lightgray; }
  .tcon-loader--spinner360:before, .tcon-loader--spinner360:after {
    content: "";
    display: block;
    position: absolute; }
  .tcon-loader--spinner360:before {
    border-radius: 0 90px 90px 0;
    height: 40px;
    width: 50%;
    top: 0;
    right: 0;
    z-index: 1;
    background: black;
    background-image: linear-gradient(lightgray, black); }
  .tcon-loader--spinner360:after {
    border-radius: 80%;
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: white; }

@keyframes tcon-spin360 {
  to {
    transform: rotate(360deg); } }
.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=style.css.map */
