<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/logo.png">
  <link rel="icon" type="image/png" href="/assets/img/logo.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Profile Page</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/material-kit-home.css" rel="stylesheet"/>
    <link href="/assets/css/material-icons.min.css" rel="stylesheet"/>
    <link href="/assets/css/hover-min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<style>
.donut-pie-tooltip-bubble {
  background-color: #ffffff;
  color: #06346e;
  font-size: 11px;
  padding: 6px 12px 6px 12px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 1px 1px 1px rgba(25, 25, 25, 0.15);
  text-align: left;
  max-width: 240px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

</style>
<body class="profile-page">
  <nav class="navbar navbar-absolute navbar-transparent">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navicon-button x navbar-toggle" data-toggle="collapse" data-target="#navigation-example" aria-label="toggle menu">
          <div class="navicon"></div>
        </button>
        <a class="navbar-brand logo" href="/home">TopAdvisors</a>

      </div>

      <div class="collapse navbar-collapse" id="navigation-example">

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/for_pros">
              <i class="material-icons hidden-sm hidden-md hidden-lg">fingerprint</i> For Professionals
            </a>
          </li>

          <li>
            <a href="/how_it_works">
              <i class="material-icons hidden-sm hidden-md hidden-lg">&#xE90F;</i> How It Works
            </a>
          </li>

          <li>
            <a href="/login">
              <i class="material-icons">account_circle</i> Sign In
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-header header-filter" data-parallax="active" style="background-image: url('{{ pro.profile.coverImage || '/assets/img/examples/city.jpg' }}');"></div>

  <div class="main">
    <div class="profile-content">
      <div class="container">
        <div class="row">

            </div>
        </div>

        <div class="container">


        <div class="row services">
          <div class="col-md-4 left-div">
              <div class="col-xs-12 summary card" id="myAffix">
                  <div class="profile">
                      <div class="avatar">
                          <img src="{{ pro.profile.image || '/assets/img/samplePro.png' }}" alt="Circle Image" class="img-circle img-responsive ">
                      </div>
                  </div>
                  <div class="nameCard">
                      <h3 class="title">{{ pro.profile.firstName }} {{ pro.profile.lastName }}</h3>
                      <p class="description">{{ pro.profile.jobTitle }} <br>at <br>{{ company.name }}</p>
                  </div>


                  <span class="contact-pro">
                    <a class="btn contact-btn btn-block" data-toggle="modal" data-target="#contactModal">Contact {{ pro.profile.firstName }}</a><br>
                  </span>

              </div>

            </div>
            <div class="col-md-8 map-block">
                <div class="mapDiv bio card">
                    <h4>Bio</h4>
                    <p class="description">
                        {{pro.profile.about}}
                    </p>
                    <h6 class="description"><i class="material-icons" style="vertical-align:middle;margin-top:-4px;margin-right:5px;">check</i>Offers Free Consultation </h6>
                    <div class="trophy-section">
                        <div class="trophies">
                            {% if pro.trophies.customerFavorite %}
                            <div class="trophy" data-toggle="tooltip" data-placement="top" title="This professional has been highly reviewed by their customers.">
                                <span class="lnr lnr-heart-pulse"></span>
                                <h6>Customer Favorite</h6>
                            </div>
                            {% endif %}
                            {% if pro.trophies.contentContributor %}
                            <div class="trophy" data-toggle="tooltip" data-placement="top" title="This professional consistently produces helpful content for consumers.">
                                <span class="lnr lnr-laptop-phone"></span>
                                <h6>Content Producer</h6>
                            </div>
                            {% endif %}
                            {% if pro.trophies.verified %}
                            <div class="trophy" data-toggle="tooltip" data-placement="top" title="This professional's credentials and background have been verified by the TopAdvisors staff.">
                                <span class="lnr lnr-store"></span>
                                <h6>Verified Pro</h6>
                            </div>
                            {% endif %}
                            {% if pro.trophies.veteran %}
                            <div class="trophy" data-toggle="tooltip" data-placement="top" title="This professional has been licensed for more than 10 years.">
                                <span class="lnr lnr-flag"></span>
                                <h6>Veteran</h6>
                            </div>
                            {% endif %}
                            {% if pro.trophies.topPerformer %}
                            <div class="trophy" data-toggle="tooltip" data-placement="top" title="This professional acheives the highest level of customer retention, customer satisfaction, and production.">
                                <span class="lnr lnr-chart-bars"></span>
                                <h6>Top Performer</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <div class="company-block card">
                <div class="card card-background" style="min-height:250px;box-shadow:none;background-image: url('{{ company.image || '/assets/img/sampleOffice.jpg' }}')">
                </div>
                <h4>Works at {{ company.name }}</h4>
                <h6>Title: {{ pro.profile.jobTitle }}</h6>
                <p>{{ company.bio }}</p>
            </div>



                <div id="map" class="card"></div>
                <div class="chart-div card">
                    <h4>Financial Services Offered</h4><br>
                    <div class="col-md-8 col-md-offset-2">
                        <canvas id="chartContainer" style="height: 300px; width: 100%;"></canvas>
                    </div>
                </div>

                <div class="mapDiv resume card">
                    <div class="row">
                        {% if pro.designations.length > 0 || pro.licenses.length > 0 || pro.educations.length > 0 || pro.workHistories.length > 0 %}
                        <div class="col-xs-12 resume">
                            <h4>Resume</h4>

                            {% if pro.licenses.length > 0 %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>License</th>
                                        <th>Number</th>
                                        <th>Date Acquired</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for l in pro.licenses %}
                                    <tr>
                                        <td>{{ l.license }}</td>
                                        <td>{{ l.licenseNumber }}</td>
                                        <td>{{ l.dateEarned }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}

                            {% if pro.designations.length > 0 %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Number</th>
                                        <th>Date Acquired</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for d in pro.designations %}
                                    <tr>
                                        <td>{{ d.designation }}</td>
                                        <td>{{ d.designationNumber }}</td>
                                        <td>{{ d.dateEarned }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}

                            {% if pro.educations.length > 0 %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>School</th>
                                        <th>Degree</th>
                                        <th>Date Acquired</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for e in pro.educations %}
                                    <tr>
                                        <td>{{ e.degreeName }}</td>
                                        <td>{{ e.collegeName }}</td>
                                        <td>{{ e.yearGraduated }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}

                            {% if pro.workHistories.length > 0 %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Previous Employer</th>
                                        <th>Dates Worked</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for w in pro.workHistories %}
                                    <tr>
                                        <td>{{ w.companyName }}</td>
                                        <td>{{ w.yearRange }}</td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mapDiv card" style="margin-bottom:40px;">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Reviews<button href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#reviewModal"><i class="material-icons">create</i>&nbsp;&nbsp;&nbsp; Write Review</button><br>
                        </h4>

                        {% for review in reviews %}
                        <div class="media-area">
                            <div class="media">

                                <div class="media-body">
                                    <h4 class="media-heading">{{ review.firstName }}<small>&middot; {{ review.createdOn.toLocaleDateString() }}</small></h4>
                                    <h6 class="text-muted">
                                        {% for score in [1,2,3,4,5] %}
                                        {% if review.rating >= score %}
                                        <i class="material-icons">star</i>
                                        {% else %}
                                        <i class="material-icons">star_border</i>
                                        {% endif %}
                                        {% endfor %}
                                    </h6>

                                    <p>{{ review.description }}</p>

                                    <div class="media-footer">
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </div>



            </div>

          </div>




        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <a class="footer-brand hidden-xs" href="#">TopAdvisors</a>
        <ul class="pull-center">
          <li>
            <a href="/home">
              Home
            </a>
          </li>
          <li>
            <a href="/how_it_works">
              How it works
            </a>
          </li>
          <li>
            <a href="/for_pros">
              for professionals
            </a>
          </li>
          <li>
            <a href="/contact-us">
              contact us
            </a>
          </li>
          <li>
            <a href="/about">
              about
            </a>
          </li>
        </ul>

        <ul class="social-buttons pull-right hidden-xs">
          <li>
            <a href="https://twitter.com/TopAdvisors503" target="_blank" class="btn btn-just-icon btn-simple">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/TopAdvisors503" target="_blank" class="btn btn-just-icon btn-simple">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/topadvisors" target="_blank" class="btn btn-just-icon btn-simple">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>

      </div>
    </footer>


    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
          <form class="contact-pro-form">
            <div class="modal-header">
              <button type="button" class="close" id="contact-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Contact {{ pro.profile.firstName }}</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6" style="padding-left:0;">
                  <div class="col-sm-12">
                    <input name="profile.firstName"  id="profile.firstName" type="text" required class="form-control" placeholder="First Name">
                  </div>
                  <div class="col-sm-12">
                    <input name="profile.lastName" id="profile.lastName" type="text" required class="form-control" placeholder="Last Name">
                  </div>
                  <div class="col-sm-12">
                    <input name="profile.phone" id="profile.phone" type="text" required class="form-control" placeholder="Phone Number">
                  </div>
                  <div class="col-sm-12">
                    <input name="profile.email" id="profile.email" type="text" required class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <h6 style="margin-top:0;">Preferred Contact Method</h6>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="contact-phone">
                      Phone
                    </label>
                  </div><div class="checkbox">
                    <label>
                      <input type="checkbox" name="contact-email">
                      Email
                    </label>
                  </div>
                  <h6>Short Message (Optional)</h6>
                  <textarea  name="message" id="message" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input name="agent" value="{{pro._id}}" type="hidden">
              <input name="company" value="{{pro.company}}" type="hidden">
              <input name="purpose" id="purpose" type="hidden">
              <button type="submit" class="btn btn-primary" id="giveResults"><i class="material-icons">mail</i> Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>




    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
          <form class="new-review-form">
            <div class="modal-header">
              <button type="button" class="close" id="review-modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Review {{ pro.profile.firstName }}</h4>
            </div>
            <div class="modal-body">
              <div class="col-sm-12">
                <input type="text" name="firstName" class=" form-control" placeholder="First Name">
                <textarea class="form-control" name="description" rows="8" placeholder="Write your review here. Please refrain from including any specific details about financial performance (such as portfolio returns), because it violates FINRA regulations."></textarea>
                <br>
                <h5 style="font-weight:bold;">Rating</h5>
                <div class="row lead">
                  <div id="stars" class="starrr"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input name="agent" value="{{pro._id}}" type="hidden">
              <button class="btn btn-primary" id="giveResults"><i class="material-icons">edit</i> Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<div class="hidden" id="address">
    {{company.address.fullAddress}}
</div>



  </body>
  <!--   Core JS Files   -->
  <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/js/material.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="/assets/js/nouislider.min.js" type="text/javascript"></script>

  <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
  <script src="/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

  <!--  Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
  <script src="/assets/js/jquery.dropdown.js" type="text/javascript"></script>

  <!--  Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
  <script src="/assets/js/jquery.tagsinput.js"></script>

  <!--  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="/assets/js/jasny-bootstrap.min.js"></script>
  <script src="/assets/js/stars.js"></script>
  <!-- Plugin For Google Maps -->


  <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
  <script src="/assets/js/material-v-kit.js" type="text/javascript"></script>

  <script src="/assets/js/pro.profile.js" type="text/javascript"></script>

  <script type="text/javascript">
    window.specialties = {% autoescape false %}{{ specialties }}{% endautoescape %};
  </script>

    <script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: -34.397, lng: 150.644},
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            styles: [
                {
                    "featureType": "administrative.land_parcel",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.business",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]
        });
        var geocoder = new google.maps.Geocoder();

        geocodeAddress(geocoder, map);

    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = $('#address').text();
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3T-JbmnVKNDDOe4Ud9CYo12C04giuNjs&callback=initMap">
</script>
<script>
    $('#myAffix').affix({
        offset: 230,
    })
    $('#myAffix').on('affix.bs.affix', function () {
        var containerW = $('#myAffix').width() + 30;
        $('#myAffix').css('width', containerW + 'px');
        $('#myAffix').addClass('card-raised');
    });
    $('#myAffix').on('affix-top.bs.affix', function () {
        $('#myAffix').removeClass('card-raised');
    });
</script>
</html>
