.filter-question-container {
  transition: all .5s ease; }

#filterModal {
  text-align: center; }
  #filterModal .filter-modal {
    padding: 0; }
    #filterModal .filter-modal .modal-header {
      background: #fff; }
    #filterModal .filter-modal .modal-body {
      padding: 0 0 100px 0;
      height: 100% !important;
      min-width: 100% !important;
      overflow-y: scroll;
      background: #f1f1f1; }
  #filterModal .filter-question-container {
    min-height: 200px;
    background: #fff;
    padding: 30px 30px 0 30px;
    margin-bottom: 10px; }
    #filterModal .filter-question-container h2 {
      font-weight: 300;
      position: relative; }
  #filterModal input {
    background: #fff;
    border: none;
    margin: 10px;
    padding-left: 15px; }

.filter-option-icon {
  display: inline-block !important;
  text-align: center;
  width: 26%;
  color: #666;
  font-size: 1.2em;
  margin: 30px 0 0 0;
  height: 150px;
  vertical-align: top;
  padding: 0 15px;
  min-width: 120px; }
  .filter-option-icon i {
    display: block;
    padding: 22px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    font-size: 40px;
    margin: 0 auto;
    border: 2px solid #ccc;
    color: #888;
    margin-bottom: 15px; }

.filter-option {
  display: block !important;
  width: calc(100%-6px) !important;
  position: relative !important;
  text-align: center;
  padding: 15px 40px;
  margin: 3px;
  font-size: 1.2em;
  color: #444;
  border: 2px solid #ccc; }

.filter-option:hover, .filter-option:focus, .filter-option:active {
  color: #666;
  border: 2px solid #ccc; }

.filter-option-icon:hover i {
  border: 2px solid #ccc;
  color: #666; }

.filter-option-icon:hover, .filter-option-icon:active, .filter-option-icon:focus {
  color: #666; }

@media (min-width: 768px) {
  .filter-option:hover, .filter-option:focus, .filter-option:active {
    color: #1976d2;
    border: 2px solid #1976d2; }

  .filter-option-icon:hover i {
    border: 2px solid #1976d2;
    color: #1976d2; }

  .filter-option-icon:hover, .filter-option-icon:active, .filter-option-icon:focus {
    color: #1976d2; } }
@media (max-width: 767px) {
  .filter-question-container {
    min-height: 60px !important;
    padding: 30px 30px 15px 30px; }

  .filter-option-icon {
    font-size: 1em; }

  .filter-option-icon {
    font-size: 1em;
    min-width: 100px; }
    .filter-option-icon i {
      padding: 15px;
      height: 60px;
      width: 60px;
      font-size: 25px; }

  #filterModal h2 {
    font-size: 26px; }

  .filter-question-container h2 {
    font-weight: 300;
    position: relative;
    font-size: 22px !important; }

  .modal .modal-dialog {
    margin-top: 75px !important;
    z-index: 1231241 !important; } }
body.modal-open {
  overflow: hidden !important; }

.filterPersonal {
  margin-top: 5px; }

.result {
  background: #fff;
  padding: 15px;
  border-radius: 0;
  margin: 10px 0;
  text-align: left;
  color: #444;
  position: relative; }
  .result .result-rating {
    margin: 0; }
  .result .results-place {
    padding-top: 25%; }
  .result h5 {
    margin: 3px 0; }
  .result .result-name {
    margin-top: 5px; }
  .result .result-highlights {
    height: 100%; }
    .result .result-highlights div:last-child {
      border-right: none; }
    .result .result-highlights .result-highlights-figure {
      padding-top: 30px;
      font-size: 1.5em;
      font-weight: bold; }
  .result img {
    max-height: 120px;
    margin: 0 auto; }

.result:hover {
  cursor: pointer; }

.result-margin {
  margin: 0; }

@media (min-width: 768px) {
  #filterModal .modal-body {
    border-top: 4px solid #ff6a6a; } }
@media (max-width: 767px) {
  #filterModal .modal-body {
    border-top: none; }

  .modal-open nav {
    border-bottom: 4px solid #ff6a6a; }

  .modal-lg {
    margin-left: 0; }

  .result {
    text-align: center; }
    .result .results-place {
      padding-top: 0; }

  .results-inner {
    padding: 15px;
    margin: 10px 0; }
    .results-inner .result-image {
      padding: 0; }
    .results-inner .result-name {
      margin-top: 5px;
      margin-bottom: 5px; }
    .results-inner .result-rating {
      text-align: center !important; }
      .results-inner .result-rating div {
        text-align: center !important; }
      .results-inner .result-rating i {
        font-size: 1.4em;
        max-width: 50px; }

  .result-highlights {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px; }

  .result-margin {
    margin: 0 -15px; } }
.modal-open {
  overflow: hidden !important;
  position: fixed;
  width: 100%; }

/*# sourceMappingURL=filter.css.map */
