Hi {{ admin }},

You received a new pro request.

<table>
  <tr>
    <td>
      <b>
        Name
      </b>
    </td>
    <td>
      {{pro.name}}
    </td>
  </tr>
  <tr>
    <td>
      <b>
        Email
      </b>
    </td>
    <td>
      {{pro.email}}
    </td>
  </tr>
  <tr>
    <td>
      <b>
        Phone Number
      </b>
    </td>
    <td>
      {{pro.phone}}
    </td>
  </tr>
  <tr>
    <td>
      <b>
        Employer
      </b>
    </td>
    <td>
      {{pro.employer}}
    </td>
  </tr>
  <tr>
    <td>
      <b>
      </b>
    </td>
    <td>
    </td>
  </tr>
</table>
